/* Root Section Code Start Here */
:root{
    --gradientColor: linear-gradient( 20deg, #F7E93F 20%, #FB09B4 51%, #9100F8 80%);
    --whiteColor: #FFFFFF;
    --bgColor: #1A0B2E;
    --greenColor: #00FF88;
    --textColor: #a6a0b9;
}
/* Root Section Code End Here */

/* Reset Default CSS Design */
*,*::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    background-color: var(--bgColor);
    color: var(--whiteColor);
}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 20px;
    background: transparent;
    border: 1px solid var(--textColor);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
h1, h2, h3, h4, h5, h6, p , span, img {
    background: transparent;
}
nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    padding-bottom: 16px;
}
.logo-div img{
    width: 160px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
    cursor: pointer;
    li:hover{
        text-decoration: underline;
    }
}
.subscribe-btn{
    background-image: var(--gradientColor);
    img{
        width: 18px;
        height: 12px;
        background: none;
        padding-left: 4px;
    }
}

.nav-menu-icon{
    display: none;
    width: 24px;
    height: 24px;
    background: transparent;
    cursor: pointer;
}
/* hero section code start here */
#hero-container{
    border-top: 1px solid var(--textColor);
    background-image: url("/assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 0;
    border-bottom: 1px solid var(--textColor);
    h1{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 18px;
        color: var(--whiteColor);
        
    }
}

.hero-img-container{
    width: 300px;
    height: 300px;
    background-image: url("/assets/hero-circle.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 36px;
    position: relative;
}

.new-popup{
    position: absolute;
    padding: 8px 15px;
    background-color: var(--greenColor);
    color: black;
    left: 235px;
    bottom: 240px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
}
.hero-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hero-btn-container button:nth-child(1){
    background-image: var(--gradientColor);
    
}
.hero-btn-container button:nth-child(2){
    border-color: var(--greenColor);
    span{
        color: var(--greenColor);
    }
}
/* hero section code end here */

/* About Podcast section code start here */
#about-podcast-container{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    h2{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        color: var(--whiteColor);
        margin-bottom: 14px;
    }
    p{
        font-size: 16px;
        color: var(--textColor);
        text-align: center;
        line-height: 26px;
    }
}
.about-desktop-view{
    display: block;
    font-size: 16px;
    color: var(--textColor);
    margin-bottom: 18px;
}
.about-mobile-view{
    display: none;
    font-size: 16px;
    color: var(--textColor);
    margin-bottom: 18px;
}
#about-podcast-container p:nth-child(3){
    margin-top: 28px;
}
#about-podcast-container hr{
    color: #1A0B2E;
    margin: 70px 0;
    height: 1px;
}
#states-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.single-state{
    text-align: center;
    h4{
        color: var(--greenColor);
        font-size: 40px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    span{
        font-size: 16px;
        color: var(--textColor);
    }
}
/* About Podcast section code end here */
/* Choose TechWave section code start here */
#choose-techwave-container{
    padding: 60px 9%;
    background-color: #230E3D;
    h2{
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 28px;
        text-align: center;
    }
}
#choose-card-container{
    background: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}
.single-choose-card{
    width: 100%;
    border: 1px solid var(--textColor);
    background-color: rgba(53, 17, 101, 0.5);
    padding: 24px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    img{
        width: 50px;
        height: 50px;
        background: none;
        margin-bottom: 16px;
    }
    h4{
        font-size: 24px;
        font-weight: bold;
        color: var(--whiteColor);
        background: none;
        margin-bottom: 16px;
    }
    p{
        color: var(--textColor);
        font-weight: 28px;
        background: none;
    }
}
.single-choose-card:nth-child(1){
    grid-row: span 2;
}
.single-choose-card:nth-child(2){
    grid-column: span 2;
}
.single-choose-card:nth-child(3){
    grid-column: span 2;
}
.single-choose-card:nth-child(4){
    grid-column: span 2;
}
/* Choose TechWave section code end here */

/* Featured Episodes section code start here */
#featured-episodes-container{
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
    h2{
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
}
.video-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.single-video-card{
    width: 100%; 
    background-color: #250D44;
    border-radius: 15px;
    iframe{
        width: 100%;
        height: 31vh;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
    }
    h3{
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 10px;
        color: var(--textColor);
    }
}

.single-video-card-details{
    background-color: #250D44;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding: 20px;
}
.watch-count{
    display: flex;
    align-items: center;
    background: transparent;
    gap: 6px;
    color: var(--greenColor);
    span{
        color: var(--greenColor);
    }
}
/* Featured Episodes section code end here */

/* Meet the Host section code start here */
#meet-host-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
    h2{
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
}
.profile-container{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 18px;
    padding: 32px 24px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 24px;
}
.profile-img{
    width: 200px;
    height: 200px;
    background: transparent;
    img{
        border-radius: 50%;
    }
}
.profile-details{
    background: transparent;
    h3{
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 16px;
        background: transparent;
    }
    p{
        color: var(--textColor);
    }
}
.host-social-link{
    display: flex;
    align-items: center;
    gap: 24px;
    background: transparent;
    margin-top: 24px;
    img{
        width: 24px;
        height: 24px;
    }
}
/* Meet the Host section code end here */

/* footer section code start here */
footer{
    background-image: url("/assets/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    img{
        
        background: transparent;
    }
}
.social-container{
    background: transparent;
}
.social-container ul{
    background: transparent;
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 10px;
}
.social-container ul li{
    list-style: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    span{
        background: transparent;
        color: var(--textColor);
    }
}
.copyright-text{
    color: var(--textColor);

    background: transparent;
}
.footer-logo{
    width: 180px;
}
/* footer section code end here */